@import '../common';

.issueList {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.issueList_item {
  width: 103px;
  flex: 0 0 80px;
  height: 110px;
  background-color: red;
}

.issueList_item__selected {
  background-color: blue;
}

.issueList_spacer {
  @extend .issueList_item;
  flex: 0 0 100%;
  background-color: white;
}

.window {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header {
  display: flex;
  height: 52px;
  background-color: #d6cdb4;
  line-height: 52px;
}

.header_back {
  width: 50px;
}

.header_content {
  flex: 1;
  //line-height: 52px;
}

.header_forward {
  //line-height: 52px;
}

.pledgeCardList {
  padding: 20px 30px 0;
}

.pledgeCard {
  position: relative;
  background-color: skyblue;
  margin-bottom: 12px;
  padding: 0 20px;

  &:hover {
    outline: 1px solid red;
  }
}

.pledgeCard_title {
  @include tp-normal-bold;
}

.pledgeCard_description {
  @include tp-small;
  border-top: 1px solid black;
  padding-top: 10px;
  padding-bottom: 16px;
  padding-right: 40px;
  word-break: keep-all;
}

.pledgeCard_foldButton {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  outline: 1px solid green;
  &:hover {
    outline: 1px solid red;
    cursor: pointer;
  }
}

.pledgeCard_check {
  position: absolute;
  top: -10px;
  left: -10px;
  pointer-events: none;
}
