@import '../common';

.main {
  padding-top: 99px;
}

.issueNavigator {
  position: relative;
}

.issueList {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.issueList_item {
  width: 103px;
  flex: 0 0 94px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.issueList_item_title {
  @include tp-small-bold;
  color: $color-gray;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin-top: 10px;

  .issueList_item__selected & {
    font-weight: bold;
    color: $color-ink;
    border-top: 2px solid $color-ink;

    &::before {
      display: block;
      content: '';
      position: absolute;
      border-bottom: 1px solid $color-ink;
      top: 1px;
      left: 1px;
      right: 1px;
    }
  }
}

.issueList_item_mock {
  width: 60px;
  height: 69px;
  background-color: $color-gray;

  .issueList_item__selected & {
    background-color: $color-fruit;
  }
}

.issueList_item__selected {
}

.issueList_spacer {
  @extend .issueList_item;
  flex: 0 0 100%;
}

.window {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  user-select: none;
}

.header {
  display: flex;
  height: 52px;
  background-color: #d6cdb4;
  line-height: 52px;
}

.header_back {
  width: 50px;
}

.header_content {
  flex: 1;
  //line-height: 52px;
}

.header_forward {
  //line-height: 52px;
}

.pledgeCardList {
  padding: 20px 30px 0;
}

.completeButton {
  padding-right: 16px;
  color: $color-butter;
}

.completeButton__disabled {
  color: $color-ink;
  opacity: 0.3;
}
