.selectButtonContainer {
  display: flex;
  justify-content: center;
}

.selectButton {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  line-height: 80px;
  text-align: center;
  &:not(:first-child) {
    margin-left: 24px;
  }

  user-select: none;
  cursor: pointer;
}
