.upperAreaGuide {
  padding-top: 76px;

  font-family: 'Spoqa Han Sans';
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.8px;
  text-align: center;
  color: #6a6a6a;
}

.selectButtonContainer {
  display: flex;
  justify-content: center;
}

.selectButton {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  line-height: 80px;
  text-align: center;
  &:not(:first-child) {
    margin-left: 24px;
  }

  user-select: none;
  cursor: pointer;
}
