@import '../common';

.main {
  position: fixed;
  z-index: $layer-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffea57;

  display: flex;
  justify-content: center;
}

.title {
  @include tp-big-bold;
  text-align: center;
  margin-top: 42px;
}

.description {
  @include tp-normal;
  text-align: center;
  margin-bottom: 32px;
}

.spacer {
  flex: 1;
}
