@import '../common';

.main {
  position: fixed;
  z-index: $layer-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-yellow;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include tp-big-bold;
  text-align: center;
  margin-top: 42px;
}

.description {
  @include tp-normal;
  text-align: center;
  margin-bottom: 32px;
}

.spacer {
  position: relative;
  flex: 1;
}

.logo {
  margin-top: 24px;
  display: block;
  width: 60px;
  height: 10px;
}
