@import '../common';

.container {
  width: 100%;
  position: absolute;
  left: 50%;
  //transform: translateX(-50%);
  transition: transform 0.3s;

  display: flex;
  justify-content: center;
  padding: 30px 0 44px;
  user-select: none;

  overflow: hidden;
}

.card {
  //background-color: white;
  width: 300px;
  height: 300px;
  transform-origin: 50% 120%;

  position: relative;
  padding: 1px;
  display: flex;
  flex-direction: column;

  cursor: pointer;

  // zeplin
  border: solid 2px $color-ink;
  background-color: $color-butter;
}

.card_inner {
  flex: 1;
  border: solid 0.7px $color-ink;

  display: flex;
  flex-direction: column;
}

.card_inner__collapsed {
  padding-top: 152px;
}

.card_inner__expanded {
  padding-top: 102px;
}

.cardTitle {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.6px;
  text-align: center;
  color: #6a6a6a;
  font-weight: bold;
}

.cardDescription {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.5px;
  color: #6a6a6a;

  padding: 30px 20px 0;
}

.cardTags {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.6px;
  text-align: center;
  color: #6a6a6a;
}

.detailButton {
  height: 52px;
  line-height: 52px;

  // zeplin - container
  background-color: $color-fruit;

  // zeplin - text
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  //line-height: 1.71;
  letter-spacing: -0.47px;
  text-align: center;
  color: $color-butter;
}

.stamp {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 16px;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  // zeplin
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.53px;
}

.selectStamp {
  @extend .stamp;
  border: 3px solid $color-fruit;
  color: $color-fruit;

  left: 16px;
  transform: translateY(-20px) rotate(-30deg);
}

.stamp__visible {
  opacity: 1;
}

.selectStamp__visible {
  @extend .stamp__visible;
  transform: rotate(-30deg);
}

.discardStamp {
  @extend .stamp;
  border: 3px solid $color-gray;
  color: $color-gray;

  right: 16px;
  transform: translateY(-20px) rotate(30deg);
}

.discardStamp__visible {
  @extend .stamp__visible;
  transform: rotate(30deg);
}
