@import '../common';

.container {
  width: 100%;
  position: absolute;
  left: 50%;
  //transform: translateX(-50%);
  transition: transform 0.3s;

  display: flex;
  justify-content: center;
  padding: 30px 0 44px;
  user-select: none;

  overflow: hidden;
}

.card {
  //background-color: white;
  width: 300px;
  height: 300px;
  transform-origin: 50% 120%;

  position: relative;
  padding: 1px;
  display: flex;
  flex-direction: column;

  cursor: pointer;

  // zeplin
  border: solid 2px $color-ink;
  background-color: $color-butter;
}

.card__hovering {
  box-shadow: 0 4px 8px 0 $color-selected-shadow;
}

.card_inner {
  flex: 1;
  border: solid 0.7px $color-ink;

  display: flex;
  flex-direction: column;
}

.card_inner__collapsed {
  padding-top: 140px;
}

.card_inner__expanded {
  padding-top: 102px;
}

.cardTitle_wrap {
  display: flex;
  justify-content: center;
}

.cardTitle {
  position: relative;
  border-bottom: 2px solid $color-ink;

  // zeplin
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.47px;
  text-align: center;
  color: $color-ink;

  &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -4px;
    left: 1px;
    right: 1px;
    border-bottom: 1px solid $color-ink;
  }
}

.cardDescription {
  padding: 30px 20px 0;

  // zeplin
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.47px;
  color: $color-ink;
}

.cardTags {
  margin-top: 12px;

  // zeplin
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.47px;
  text-align: center;
  color: $color-ink;
}

.card_hideDetail {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  padding-left: 18px;
  cursor: pointer;
}

.detailButton {
  height: 52px;
  line-height: 52px;

  // zeplin - container
  background-color: $color-fruit;

  // zeplin - text
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  //line-height: 1.71;
  letter-spacing: -0.47px;
  text-align: center;
  color: $color-butter;
}

.stamp {
  // outer dimension
  position: absolute;
  top: 16px;

  // inner dimension
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  // shape
  border-radius: 50%;
  opacity: 0;

  // font
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.53px;

  // animation
  transition: transform 0.2s, opacity 0.2s;
}

.selectStamp {
  @extend .stamp;
  border: 3px solid $color-fruit;
  color: $color-fruit;

  left: 16px;
  transform: translateY(-20px) rotate(-30deg);
}

.stamp__visible {
  opacity: 1;
}

.selectStamp__visible {
  @extend .stamp__visible;
  transform: rotate(-30deg);
}

.discardStamp {
  @extend .stamp;
  border: 3px solid $color-gray;
  color: $color-gray;

  right: 16px;
  transform: translateY(-20px) rotate(30deg);
}

.discardStamp__visible {
  @extend .stamp__visible;
  transform: rotate(30deg);
}

.topLabel {
  width: 86px;
  height: 22px;

  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);

  &::before {
    display: block;
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;

    top: 6px;
    left: -3px;

    border: 1px solid $color-ink;
    border-radius: 50%;
    background-color: $color-butter;
  }
  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;

    top: 6px;
    right: -3px;

    border: 1px solid $color-ink;
    border-radius: 50%;
    background-color: $color-butter;
  }
}

.topLabel_content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  border: 1px solid $color-ink;
  border-radius: 50%;
  background-color: $color-butter;
  line-height: 18px;

  // zeplin
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  //line-height: 1.71;
  letter-spacing: -0.47px;
  text-align: center;
  color: $color-ink;
}
