@import '../common';

.wrap {
  z-index: $layer-modal;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  position: relative;
  background-color: $color-butter;
  border: 1px solid $color-ink;
  width: 300px;
  padding-top: 32px;
}

.header_title {
  @include tp-big-bold;
  text-align: center;
}
.header_subtitle {
  @include tp-normal;
  text-align: center;
}

.group {
  position: relative;
  margin: 0 30px;
}

.placeholder {
  @include tp-small-bold;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  color: $color-disabled;
  padding-left: 18px;
  padding-bottom: 6px;

  *:valid + & {
    display: none;
  }
}

@mixin form-field {
  border: 1px solid $color-disabled;
  background-color: transparent;
  height: 40px;
  width: 100%;
  padding-left: 16px;
  border-radius: 0 !important;
  &:valid {
    border-color: $color-ink;
  }
  &:focus {
    border-color: $color-fruit;
    outline: none;
  }
}

.cardLabel {
  @include tp-small;
  line-height: 1.3;
  font-weight: normal;
  display: block;
  padding: 18px 0 6px;
}

.select {
  @include form-field;
  @include tp-small-bold;
  display: block;
  color: $color-ink;
  position: relative;
  appearance: none;
  &::after {
    position: absolute;
    display: block;
    content: '';
    background-image: url('./svg/arr-fold.svg');
  }
}

.input {
  @include form-field;
  @include tp-small-bold;
  display: block;
  -webkit-appearance: none;
}

.button {
  display: block;
  position: relative;
  outline: none;
  border: none;

  margin-top: 25px;
  width: 100%;
  height: 52px;
  background-color: $color-gray;
  cursor: pointer;

  &::before {
    display: block;
    position: absolute;
    content: '';
    background-color: $color-fruit;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 0.3s;
    form:valid & {
      width: 100%;
    }
  }

  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(title);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include tp-normal-bold;
    text-align: center;
    color: $color-butter;
  }
}

.privacy {
  @include tp-small;
  margin-top: 20px;
}

.dismiss {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  background-image: url('./svg/ico-x-black.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
