@import '../common';

.topLabel {
  @include tp-xsmall-serif;
  position: relative;
  top: -1px;
}

.cardContainer {
  margin: 34px 0;
  display: flex;
  justify-content: center;
}

.s1 {
  @include tp-normal;
  text-align: center;

  margin-top: 20px;
}

.s2 {
  @include tp-big-bold;
  text-align: center;
}

.juiceImageContainer {
  position: relative;
  margin-top: 252px;
}

.juiceImage {
  width: 280px;
  height: 285px;
  position: absolute;
  left: 6px;
  bottom: -27px;
}

.interests {
  @include tp-normal-bold;
  text-align: center;
  padding: 0 10px;
  margin-top: 15px;
}

.recommendedParty {
  @include tp-normal;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.keyword {
  display: inline-block;
  color: $color-fruit;
}
