.wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  a {
    display: block;
    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  img {
    display: block;
    width: 36px;
    height: 36px;
  }
}
