@import '../common';

.wrap {
  z-index: $layer-topnav;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 52px;
}

.container {
  @include tp-normal-bold;
  position: relative;
  height: 52px;
  line-height: 52px;
  background-color: $color-gray;
  border-bottom: solid 1px $color-ink;
  user-select: none;
}

.backButton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-image: url('./svg/arr-back.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 50px;
  cursor: pointer;
}

.actionButton {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.progressBar {
  height: 100%;
  background-color: $color-fruit;
  transition: width 0.3s;
}

.lace {
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  transition: bottom 0.1s;
}

.lace__hidden {
  bottom: 0;
}
