$color-fruit: #ff7373;
$color-gray: #d6cdb4;
$color-butter: #fff6da;
$color-ink: #000000;
$color-selected-shadow: rgba(156, 93, 10, 0.3);
$color-disabled: #d8cdb1;

$layer-topnav: 300;
$layer-modal: 500;

@mixin han-sans {
  font-family: 'Spoqa Han Sans', sans-serif;
}

@mixin keep-all {
  word-break: keep-all;
}

@mixin tp-big {
  @include han-sans;
  @include keep-all;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.8px;
  color: $color-ink;
}

@mixin tp-big-bold {
  @include tp-big;
  font-weight: bold;
}

@mixin tp-normal {
  @include han-sans;
  @include keep-all;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.47px;
  color: $color-ink;
}

@mixin tp-normal-bold {
  @include tp-normal;
  font-weight: bold;
}

@mixin tp-stamp {
  @include han-sans;
  @include keep-all;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.53px;
}

@mixin tp-small {
  @include han-sans;
  @include keep-all;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: -0.4px;
  color: $color-ink;
}

@mixin tp-small-bold {
  @include tp-small;
  font-weight: bold;
  line-height: 2.33;
  letter-spacing: -0.45px;
}

@mixin tp-xsmall {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: -0.3px;
  color: $color-ink;
}

@mixin tp-xsmall-serif {
  @include keep-all;
  font-family: 'TimesNewRomanPS-MT', serif;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: $color-ink;
}

@mixin fruit-button {
  @include tp-normal-bold;
  display: block;
  background-color: $color-fruit;
  color: $color-butter;
  border: none;
  outline: none;
}
